<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Drone Operation Manual</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../static/js/jquery-1.11.2.js"></script>
  </head>

  <script>
    //CREW
     $(document).ready(function(){
       $('.camera_op').on('click', '.get_crew_result', function(){
          var selectedPilot = $("#selectedcamera_op").val();
          $.ajax({
           url: "/update_pilot_info",
           type: "get",
           data: {selectedPilot: selectedPilot},
           success: function(response) {
             $("#camera_opPicTitle").val(response.PicTitle.toString());
             $("#camera_opfaaUasCertNum").val(response.FaaUasCertNum.toString());
             $("#camera_opIssueOn").val(response.IssueOn.toString());
             $("#camera_opValidUntil").val(response.ValidUntil.toString());
             $("#camera_opAmaNum").val(response.AmaNum.toString());
           },
          });
       });
     });

     $(document).ready(function(){
       $('.drone_op').on('click', '.get_crew_result', function(){
          var selectedPilot = $("#selecteddrone_op").val();
          $.ajax({
           url: "/update_pilot_info",
           type: "get",
           data: {selectedPilot: selectedPilot},
           success: function(response) {
             $("#drone_opPicTitle").val(response.PicTitle.toString());
             $("#drone_opfaaUasCertNum").val(response.FaaUasCertNum.toString());
             $("#drone_opIssueOn").val(response.IssueOn.toString());
             $("#drone_opValidUntil").val(response.ValidUntil.toString());
             $("#drone_opAmaNum").val(response.AmaNum.toString());
           },
          });
       });
     });

     $(document).ready(function(){
       $('.vis_obs').on('click', '.get_crew_result', function(){
          var selectedPilot = $("#selectedvis_obs").val();
          $.ajax({
           url: "/update_pilot_info",
           type: "get",
           data: {selectedPilot: selectedPilot},
           success: function(response) {
             $("#vis_obsPicTitle").val(response.PicTitle.toString());
             $("#vis_obsfaaUasCertNum").val(response.FaaUasCertNum.toString());
             $("#vis_obsIssueOn").val(response.IssueOn.toString());
             $("#vis_obsValidUntil").val(response.ValidUntil.toString());
             $("#vis_obsAmaNum").val(response.AmaNum.toString());
           },
          });
       });
     });




    //MODEL
     $(document).ready(function(){
       $('.wrapper2').on('click', '.get_model_result', function(){
          var selectedModel = $("#selectedModel").val();
          $.ajax({
           url: "/update_model_info",
           type: "get",
           data: {selectedModel: selectedModel},
           success: function(response) {
            var s = $('<select/>');
            for (var i in response.result) {
              s.append($('<option>', {
                  name: 'selectedDrone',
                  value: response.result[i],
                  text: response.result[i]
              }));
            }
            $('.drone_list').append(s);
           },
          });
       });
     });

     //DRONE
      $(document).ready(function(){
        $('.wrapper2').on('click', '.get_drone_result', function(){
           var selectedDrone = $("#selectedDrone").val();
           $.ajax({
            url: "/update_drone_info",
            type: "get",
            data: {selectedDrone: selectedDrone},
            success: function(response) {
              $(".test").val(response.result);
              // div class='drone_list'
             // var s = $('<select/>');
             // for (var i in response.result) {
             //   s.append($('<option>', {
             //       name: 'selectedDrone',
             //       value: response.result[i],
             //       text: response.result[i]
             //   }));
             //
             // }
             // $('.drone_list').append(s);
            },
           });
        });
      });

      //WEATHER
      $(document).ready(function(){
        $('.wrapper5').on('click', '.get_weather', function(){
           var lat = $("#currLat").val();
           var long = $("#currLong").val();
           var latlng = lat + "," + long;
           $.ajax({
            url: "/get_weather",
            type: "get",
            data: {latlng: latlng},
            success: function(response) {
             $('#weatherTemp').val(response.temp);
             $('#weatherSumm').val(response.text);
            },
           });
        });
      });

      //SUBMIT
      $(document).ready(function(){
        $('.wrapper6').on('click', '.submit_form', function(){
          var camera_oppilot = $(".camera_op #camera_opselectedPilot").val();
          var camera_opPicTitle = $(".camera_op #camera_opPicTitle").val();
          var camera_opfaa_uas_cert_num = $(".camera_op #camera_opfaaUasCertNum").val();
          var camera_opIssueOn = $(".camera_op #camera_opIssueOn").val();
          var camera_opValidUntil = $(".camera_op #camera_opValidUntil").val();
          var camera_opAmaNum = $(".camera_op #camera_opAmaNum").val();

          var drone_oppilot = $(".drone_op #selectedPilot").val();
          var drone_opPicTitle = $(".drone_op #PicTitle").val();
          var drone_opfaa_uas_cert_num = $(".drone_op #faaUasCertNum").val();
          var drone_oppIssueOn = $(".drone_op #IssueOn").val();
          var drone_opValidUntil = $(".drone_op #ValidUntil").val();
          var drone_opAmaNum = $(".drone_op #AmaNum").val();

          var vis_obspilot = $(".vis_obs #selectedPilot").val();
          var vis_obsPicTitle = $(".vis_obs #PicTitle").val();
          var vis_obsfaa_uas_cert_num = $(".vis_obs #faaUasCertNum").val();
          var vis_obsIssueOn = $(".vis_obs #IssueOn").val();
          var vis_obsValidUntil = $(".vis_obs #ValidUntil").val();
          var vis_obsAmaNum = $(".vis_obs #AmaNum").val();

          var selectedModel = $(".wrapper2 #selectedModel").val();
          var lat = $(".wrapper5 #currLat").val();
          var long = $(".wrapper5 #currLong").val();
          var temp = $(".wrapper5 #weatherTemp").val();
          var temp_text = $(".wrapper5 #weatherSumm").val();
          // var data = pilot + "," + FaaUasCertNum + "," + IssueOn + "," + ValidUntil + ","
          //            + AmaNum + "," + selectedModel + "," + lat + "," + long + "," +
          //             temp + "," + tempText;
           // var data = temp;
           // var data = pilot + "," + PicTitle;
           $.ajax({
            url: "/submit",
            type: "get",
            data: {camera_oppilot: camera_oppilot, camera_oppic_title: camera_opPicTitle, camera_opfaa_uas_cert_num:camera_opfaa_uas_cert_num, camera_opissue_on: camera_opIssueOn,
                    camera_opvalid_until:camera_opValidUntil, camera_opama_num:camera_opAmaNum,

                    drone_oppilot: drone_oppilot, drone_oppic_title: drone_opPicTitle, drone_opfaa_uas_cert_num:drone_opfaa_uas_cert_num, drone_opissue_on: drone_opIssueOn,
                            drone_opvalid_until:drone_opValidUntil, drone_opama_num:drone_opAmaNum,

                    vis_obspilot: vis_obspilot, vis_obspic_title: vis_obsPicTitle, vis_obsfaa_uas_cert_num:vis_obsfaa_uas_cert_num, vis_obsissue_on: vis_obsIssueOn,
                            vis_obsvalid_until:vis_obsValidUntil, vis_obsama_num:vis_obsAmaNum,

                    selected_model: selectedModel, lat:lat, long:long,temp: temp, temp_text:temp_text},
            success: function(response) {
              $("#submitForm").val(response.results);
             // $("#submit").val(response.results);
           },
          });
       });
     });

  </script>

  <body>
      <h1>Drone Operation Manual</h1>

      <div class="jumbotron">
        <h1>TEAM</h1>
        <!-- team (3 ppl)
          camera operator
          drone operator
          visual observer -->
        <h2>Camera Operator</h2>
        <div class='camera_op'>
          <select id="inputcamera_op" name="res" method="GET" action="/">
            <option value="{{crewRes[0]}}" selected>{{crewRes[0]}}</option>
            {% for r in crewRes[1:] %}
              <option id="selectedcamera_op" name="selectedcamera_op" value="{{r.pilot}}">{{r.pilot}}</option>
            {% endfor %}
          </select>
          <button class='get_crew_result'>Calculate</button>

          <input type="text" name="camera_opPicTitle" id="camera_opPicTitle" class="form-control" placeholder="PIC Title" readonly>
          <input type="text" name="camera_opFaaUasCertNum" id="camera_opfaaUasCertNum" class="form-control" placeholder="FAA UAS Cert Num" readonly>
          <input type="text" name="camera_opIssueOn" id="camera_opIssueOn" class="form-control" placeholder="Issued On" readonly>
          <input type="text" name="camera_opValidUntil" id="camera_opValidUntil" class="form-control" placeholder="Valid Unitl" readonly>
          <input type="text" name="camera_opAmaNum" id="camera_opAmaNum" class="form-control" placeholder="AMA Num" readonly>
        </div>
        <h2>Drone Operator</h2>
        <div class='drone_op'>
          <select id="inputdrone_op" name="res" method="GET" action="/">
            <option value="{{crewRes[0]}}" selected>{{crewRes[0]}}</option>
            {% for r in crewRes[1:] %}
              <option id="selecteddrone_op" name="selecteddrone_op" value="{{r.pilot}}">{{r.pilot}}</option>
            {% endfor %}
          </select>
          <button class='get_crew_result'>Calculate</button>
          <input type="text" name="drone_opPicTitle" id="drone_opPicTitle" class="form-control" placeholder="PIC Title" readonly>
          <input type="text" name="drone_opFaaUasCertNum" id="drone_opfaaUasCertNum" class="form-control" placeholder="FAA UAS Cert Num" readonly>
          <input type="text" name="drone_opIssueOn" id="drone_opIssueOn" class="form-control" placeholder="Issued On" readonly>
          <input type="text" name="drone_opValidUntil" id="drone_opValidUntil" class="form-control" placeholder="Valid Unitl" readonly>
          <input type="text" name="drone_opAmaNum" id="drone_opAmaNum" class="form-control" placeholder="AMA Num" readonly>
        </div>

        <h2>Visual Observer</h2>
        <div class='vis_obs'>
          <select id="inputvis_obs" name="res" method="GET" action="/">
            <option value="{{crewRes[0]}}" selected>{{crewRes[0]}}</option>
            {% for r in crewRes[1:] %}
              <option id="selectedvis_obs" name="selectedvis_obs" value="{{r.pilot}}">{{r.pilot}}</option>
            {% endfor %}
          </select>
          <button class='get_crew_result'>Calculate</button>

          <input type="text" name="vis_obsPicTitle" id="vis_obsPicTitle" class="form-control" placeholder="PIC Title" readonly>
          <input type="text" name="vis_obsFaaUasCertNum" id="vis_obsfaaUasCertNum" class="form-control" placeholder="FAA UAS Cert Num" readonly>
          <input type="text" name="vis_obsIssueOn" id="vis_obsIssueOn" class="form-control" placeholder="Issued On" readonly>
          <input type="text" name="vis_obsValidUntil" id="vis_obsValidUntil" class="form-control" placeholder="Valid Unitl" readonly>
          <input type="text" name="vis_obsAmaNum" id="vis_obsAmaNum" class="form-control" placeholder="AMA Num" readonly>
        </div>



        <h1>MODEL</h1>
        <!-- // <input type="text" name="inputAircraftMod" id="inputAircraftMod" class="form-control" placeholder="Aircraft Model" readonly>
        // <input type="text" name="inputDrones" id="inputDrones" class="form-control" placeholder="List of Drones" readonly> -->

        <div class='wrapper2'>
          <select id="inputModel" name="res" method="GET" action="/">
            <option value="{{modelRes[0]}}" selected>{{modelRes[0]}}</option>
            {% for r in modelRes[1:] %}
              <option id="selectedModel" name="selectedModel" value="{{r.aircraft_mod}}">{{r.aircraft_mod}}</option>
            {% endfor %}
          </select>
          <button class='get_model_result'>Calculate</button>
          <div class='drone_list' ></div>
          <button class='get_drone_result'>Calculate</button>
          <div class='test'></div>
          <input type="text" name="test" id="test" class="form-control" placeholder="TEST" readonly>
        </div>

        <!-- <input type="text" name="PicTitle" id="PicTitle" class="form-control" placeholder="PIC Title" readonly>
        // <input type="text" name="FaaUasCertNum" id="faaUasCertNum" class="form-control" placeholder="FAA UAS Cert Num" readonly>
        // <input type="text" name="IssueOn" id="IssueOn" class="form-control" placeholder="Issued On" readonly>
        // <input type="text" name="ValidUntil" id="ValidUntil" class="form-control" placeholder="Valid Unitl" readonly>
        // <input type="text" name="AmaNum" id="AmaNum" class="form-control" placeholder="AMA Num" readonly> -->


        <h1>DRONE</h1>


        <div class='wrapper5'>
          <h1>LOCATION</h1>
          <div style="height:500px;" id="map"></div>
          <p id='currLat' hidden></p><p id='currLong' hidden></p>
          <h1>WEATHER</h1>
          <button class='get_weather'>Get Weather</button>
          <input type="text" name="weatherTemp" id="weatherTemp" class="form-control" placeholder="weatherTemp" readonly>
          <input type="text" name="weatherSumm" id="weatherSumm" class="form-control" placeholder="weatherSumm" readonly>
        </div>

        <div class='wrapper6'>
          <button id="submit_form" class='submit_form' type="button">Submit Form</button>
          <input type="text" name="submitForm" id="submitForm" placeholder="!!" readonly>
        </div>
      </div>

      <!-- mission - text field -->

  </body>

  <script type="text/javascript">
    var currLat = 42.318032;
    var currLong = -72.637384;
    document.getElementById("currLat").value = currLat;
    document.getElementById("currLong").value = currLong;
    var map = L.map('map').setView([42.318032, -72.637384], 16);
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: 'your.mapbox.access.token'
    }).addTo(map);
    var myMarker = L.marker([42.318032, -72.637384], {title: "MyLocation", alt: "MyLocation", draggable: true})
    .addTo(map)
    .on('dragend', function() {
      var coord = String(myMarker.getLatLng()).split(',');
      var currLat = coord[0].split('(')[1];
      var currLong = coord[1].split(')')[0];
      myMarker.bindPopup("Current Location: " + currLat + ", " + currLong + ".");
      document.getElementById("currLat").value = currLat;
      document.getElementById("currLong").value = currLong;
    });

  </script>
</html>



<!-- TODO:
- when changing selection in drop down, not grabbing the correct ID... seems to get only the first in the list
- did pilot info & make/drones, need to do specific drone model info
- weather stuff w map
- convert results and append to csv
- append entry to db
  - make a db for entries

//pilot
selectedPilot
PicTitle
FaaUasCertNum
IssueOn
ValidUntil
AmaNum
//model
inputAircraftMod

//drone
selectedDrone

//location/weather
currLat
currLong
weatherTemp
weatherSumm



Error Code: 1427. For float(M,D), double(M,D) or decimal(M,D), M must be >= D (column 'lat').

ADD:
https://darksky.net/dev/docs
"time": 1509993277,
"summary": "Drizzle",
"icon": "rain",
"nearestStormDistance": 0,
"precipIntensity": 0.0089,
"precipIntensityError": 0.0046,
"precipProbability": 0.9,
"precipType": "rain",
"temperature": 66.1,
"apparentTemperature": 66.31,
"dewPoint": 60.77,
"humidity": 0.83,
"pressure": 1010.34,
"windSpeed": 5.59,
"windGust": 12.03,
"windBearing": 246,
"cloudCover": 0.7,
"uvIndex": 1,
"visibility": 9.84,
"ozone": 267.44
 -->
