
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Drone Operation Manual</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

  </head>
  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/form">Form</a></li>
 	          <li role="presentation"><a href="/list_crew">List Crew</a></li>
            <li role="presentation"><a href="/list_equipment">List Equipment</a></li>
            <li role="presentation"><a href="/list_equip_details">List Equipment Details</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Python Flask App</h3>
      </div>


      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>

    </div>
  </body>
</html>
